<div class="jumbotron">
  <div class="container">
<div class="row">
  <div class="page-header col-md-6">
    <h1> Welcome to Trigger</h1>
    <p> A new way to raise funds for environmental projects</p>
  </div>
  <div class="col-md-6">
  <div class="panel panel-success">
      <div class="panel-heading">
          <h3 class="panel-title">Enter your details to begin.</h3>
      </div>
        <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <%= f.input :first_name %>

          <%= f.input :last_name %>

          <%= f.input :profile_name %>

          <%= f.input :email %>

          <%= f.input :password %>

          <%= f.input :password_confirmation %>

          <%= f.button :submit, class: "btn btn-success btn-lg" %></div>
        <% end %>

        <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>

	




