<div id="carousel" class="carousel slide" data-ride="carousel">
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "http://37.media.tumblr.com/d794bfd843e9a04489d17865a58ac700/tumblr_n3ttuxlKFr1st5lhmo1_1280.jpg" %>
      <div class="carousel-caption">
        <h1>Welcome to Gather</h1>
  <h2>Build support | Raise capital | Educate | Make a difference</h2>
        <%= link_to "Learn More", static_pages_about_path, class: "btn btn-info btn-lg" %>
        
    </div>
    </div>
  
  </div>
</div>

<div class="container reasons">
  <div class="row">
  
  <div class="col-md-4">
    <h2>Crowdfunding</h2>
    <p>Promote education and investment from the private sector towards projects with a focus on environmental sustainability.<p>
  </div>

  <div class="col-md-5 col-md-offset-2">
  <%= image_tag "http://24.media.tumblr.com/fa6c7320f352533bb56bea01c5d562f1/tumblr_n5waqc75RA1st5lhmo1_1280.jpg", height: "80%", width: "100%" %>
  </div>
  </div>
</div>

  <div class="continer-fluid">
  <%= image_tag "http://37.media.tumblr.com/e2d99d213a1b9e2cf3e68123aa3b9117/tumblr_n4cmejUJgI1st5lhmo1_1280.jpg", height: "600px", width: "100%" %>
  </div>

<div class="container reasons">
  <div class="row">

  <div class="col-md-5">
  <%= image_tag "http://37.media.tumblr.com/b125c600e0433c07cb210bae0dc9cedb/tumblr_n3tsrtp3L31st5lhmo1_1280.jpg", height: "80%", width: "100%" %>
  </div>

  <div class="col-md-5 col-md-offset-2">
    <h2>One reason to sign up with Gather today</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.<p>
  </div>
  </div>
</div>

<div class="continer-fluid">
  <%= image_tag "http://37.media.tumblr.com/d794bfd843e9a04489d17865a58ac700/tumblr_n3ttuxlKFr1st5lhmo1_1280.jpg", height: "600px", width: "100%" %>
</div>

<div class="container reasons">
  <div class="row">
  
  <div class="col-md-5">
    <h2>One reason to sign up with Gather today</h2>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.<p>
  </div>

  <div class="col-md-5 col-md-offset-2">
  <%= image_tag "http://37.media.tumblr.com/b125c600e0433c07cb210bae0dc9cedb/tumblr_n3tsrtp3L31st5lhmo1_1280.jpg", height: "80%", width: "100%" %>
  </div>
</div>
  </div>

<div class="continer-fluid">
  <%= image_tag "http://24.media.tumblr.com/ac22bdfc7a0e0cd1614ae0ef04e03a60/tumblr_n1ips91H3y1st5lhmo1_1280.jpg", height: "600px%", width: "100%" %>
</div>


<div class="jumbotron">
  <h1>gather.cf</h1>
  <p>Build support | Raise capital | Educate | Make a difference</p>
  
  <%= link_to "Sign up to get started", register_path, class: "btn btn-success btn-lg" %>
</div>





