<div class="container">

<p id="notice"><%= notice %></p>


<div class="page-header">
  <div class="row">
    <div class="col-md-8">
  <h1><%= @project.title %></h1>
  <h4><%= @project.subtitle %></h4>
</div>
<div class="social col-md-4">
    <%= image_tag "http://t3.gstatic.com/images?q=tbn:ANd9GcQzYEOnL-QhoEcAYMfhBN1EEisY1Fw1Gl7CiJXdAeKD1v629IzUQA", height: "70%", width: "70%" %>
  </div>
</div>
</div>
</div>

<!-- Warming Up -->
<link href='http://fonts.googleapis.com/css?family=Buenard:700' rel='stylesheet' type='text/css'>
<script src="http://pupunzi.com/mb.components/mb.YTPlayer/demo/inc/jquery.mb.YTPlayer.js"></script>

<!--Video Section-->
<section class="content-section video-section">
  <div class="pattern-overlay">
  <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=fdJc1_IBKJA',containment:'.video-section', quality:'large', autoPlay:true, mute:true, opacity:1}">bg</a>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        <h1>Full Width Video</h1>  
        <h3>Enjoy Adding Full Screen Videos to your Page Sections</h3>
     </div>
      </div>
    </div>
  </div>
</section>
<!--Video Section Ends Here-->

<div class="container stats">
  <div class="row">
    <div class="col-md-4">
        <div class="col-md-4"><strong><%= @project.goal %><br/>GOAL</strong></div>
    </div>

    <div class="col-md-4">
        <div class="col-md-4"><b></b><br/><strong>BACKERS</strong></div>
    </div>

    <div class="col-md-4">
         <div class="col-md-4"><%= @project.end %><br/><strong>END</strong></div>
    </div>

<div class="col-md-6 col-md-offset-3">
 <%= link_to "Support", new_pledge_path, class: "btn btn-success btn-block" %>
</div>

<div class="project">
<div id="description">

  <%= @project.description %>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>
            
           
              
            </div>
          </div>
  </div>
</div>
</div>
</div>
