<div class="container">

<p id="notice"><%= notice %></p>

<div class="page-header">
	<h1><%= @project.title %></h1>
			<p><%= @project.subtitle %></p>
</div>

<div class="row well">
	<div class="col-md-8">		
		<p><%= @project.description %></p>
		<%= link_to 'Edit', edit_project_path(@project) %> |
		<%= link_to 'Back', projects_path %>
	</div>
		
	<div class="col-md-3 col-md-offset-1 panel">
			<p class="btn btn-success btn-lg">Support</p>
			<br>
			<div class="progress">
	  		<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
	  			
				</div>
				<p><%= @project.goal %></p>
				<p>end date</p>
		</div>
	</div>
</div>




