<!DOCTYPE html>
<html>
<head>
  <title>Succora</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-brand">
    <%= link_to image_tag('newlogo.svg', height: "70%", width: "25%") + " Succora", class: "navbar-brand" %>
      </div>
  </nav> 

  <div class="container">
    <% flash.each do |type, message| %>
        <div class="alert <%= flash_class type %> alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
    <% end %>
  </div>
  
       
            <%= yield %>

<footer>
<nav class="navbar navbar-fixed navbar-fixed-bottom" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
    <li><a>&copy Succora 2014.</a></li>
    <li><a href="#">Terms &amp Conditions</a></li>
    <li><a href="#">Privacy</a></li>
  </ul>
  </div>
</nav>
</footer>


 
</body>
</html>
